{% extends 'bootstrap.html' %}

{% load bootstrap5 %}

{% block bootstrap5_content %}

    <div class="container">

        <h1>{% block title %}Monitora movies{% endblock %}</h1>
        
        <form action="index/search">
            {% bootstrap_form form layout='inline' %}
            {% bootstrap_button "Searcg" button_type="submit" button_class="btn-primary" %}
        </form>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}