{% extends 'bootstrap.html' %}

{% load bootstrap5 %}

{% block bootstrap5_content %}

    <div class="container">

        <h1>{% block title %}Monitora - {{ title }}{% endblock %}</h1>
        
        <form action="/index/" method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            </b>
            {% bootstrap_button "Search" button_type="submit" button_class="btn-primary" %}
        </form>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        
        <p/>
        {% if content %}
        {% block content %}{{ content }}{% endblock %}
        {% endif %}
    </div>

{% endblock %}